body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(199, 211, 211);
  padding: 30px;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}
.deposit {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(199, 211, 211);
  padding: 30px;
}
.deposit__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.deposit__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.transfer{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transfer__container{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(199, 211, 211);
  padding: 30px;
}

.transfer__textBox{
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.transfer__btn{
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}



.navbar{
  background-color: darkslategrey;
  

}

.navbar a:hover, :focus {
  background-color: #2aa5a5;
  
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.nav-link a:active, :focus {
  background-color: #2aa5a5;
  
}

.nav-link .btn .btn-link{
  background-color: #2aa5a5;
}
